<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper" #sidebarWrapper>
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top">Milion drzew dla Warszawy</a>
    </li>
    <li>
      <a href="#top">Początek</a>
    </li>
    <li>
      <a href="#about">Informacje o akcji</a>
    </li>
    <li>
      <a href="#join">Chcesz posadzić drzewo?</a>
    </li>
    <li>
      <a href="#contact">Kontakt</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
  <a name="top"></a>
  <div class="fullscreen-bg">
    <video muted autoplay poster='./assets/movies/milio_drz1-poster.png' class="fullscreen-bg__video">
      <source src="./assets/movies/milio_drz1.mp4" type="video/mp4">
    </video>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <a name="about"></a>
  <div style='position:relative;text-align: center;color: white;'>
    <span class="fa-stack fa-4x" style="margin-top: -2em;">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-down fa-stack-1x text-primary"></i>
    </span>
  </div>
  <!--<i class="fa fa-arrow-circle-down fa-stack-1x text-primary"></i>-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">Oddajemy w Wasze ręce narzędzie, za pomocą którego wspólnie będziemy zazieleniać Warszawę.</p>
        <p>Pobierzcie aplikację Milion Drzew i wskażcie miejsca, gdzie Waszym zdaniem drzew jest za mało i powinny pojawić się
          nowe.</p>
        <p>Wskazania wykorzystamy w naszych projektach nasadzeń. Drzewa będą sadzone wiosną i jesienią każdego roku.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <a name="join"></a>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Chcesz posadzić drzewo w Warszawie?</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
              <p>Pobierz aplikację Milion Drzew
                <a href='https://play.google.com/store/apps/details?id=air.com.gamebrain.hocus&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                  <img style='width: 14em; height: auto;' alt='pobierz z Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pl_badge_web_generic.png'/>
                </a>
                <a href="https://itunes.apple.com/us/app/netflix/id363590051?mt=8">
                   <!--style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:14em;height:auto;background-size:contain;"-->
                  <img style='width: 14em; height: auto; padding: 0px 11px;' alt='pobierz z App Store' src='https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg'/>
                </a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
              <p>Wybierz się w miejsce, gdzie chcesz żeby pojawiło się drzewo i ją uruchom.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
              <p>Naciśnij "Zgłoś" i kliknij na mapę, żeby złożyć wniosek.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
              <p>Podaj swoje dane.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                            </span>
              <p>Jeżeli miejsce, które zgłaszasz, zostało zaakceptowane, zobaczysz odpowiedni komunikat. Potwierdzenie zostanie wysłane też na Twój adres e-mail oraz telefon komórkowy.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-globe fa-stack-1x text-primary"></i>
                            </span>
              <p>Jeżeli w miejscu, które zgłaszasz, drzewo nie może być posadzone, aplikacja poinformuje Cię dlaczego.
Powodów może być wiele. Planując nasadzenia musimy m.in. brać pod uwagę czynniki takie jak strefy ochronne torowisk oraz wałów przeciwpowodziowych, własność terenu, infrastruktura podziemna, latarnie, słupy, inne rosnące w pobliżu drzewa, budynki czy plany zagospodarowania przestrzennego. W takim wypadku, poszukaj innego miejsca.
</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Callout -->
<!--<aside class="callout">
  <div class="text-vertical-center">
    <h1>Vertically Centered Text</h1>
  </div>
</aside>-->

<!-- Portfolio -->
<!--<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="./assets/img/portfolio-1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="./assets/img/portfolio-2.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="./assets/img/portfolio-3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="./assets/img/portfolio-4.jpg">
              </a>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
    </div>
  </div>
</section>-->

<!-- Call to Action -->
<!--<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>The buttons below are impossible to resist.</h3>
        <a href="#" class="btn btn-lg btn-light">Click Me!</a>
        <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
      </div>
    </div>
  </div>
</aside>-->

<!-- Map -->
<section id="contact" class="map">
  <a name="contact"></a>
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156389.09519932646!2d20.921112300622045!3d52.23285504332716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarsaw%2C+Poland!5e0!3m2!1sen!2sus!4v1490279071627"></iframe>
  <br />
  <small>
      <a href="https://www.google.com/maps/place/Warsaw,+Poland/@52.232855,20.9211123,11z/data=!3m1!4b1!4m5!3m4!1s0x471ecc669a869f01:0x72f0be2a88ead3fc!8m2!3d52.2296756!4d21.0122287?hl=en">link</a>
  </small>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Milion Drzew</strong>
        </h4>
        <p>ul. Adres 1
          <br>Warszawa, Polska</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; R4System.NET 2017. </p>
        <p class="text-muted">&copy; Template "Stylish Portfolio" was downloaded from <a href='https://startbootstrap.com'>startbootstrap.com</a>.</p>
        <p class="text-muted">&copy; Google Play and the Google Play logo are trademarks of Google Inc.</p>
        <p class="text-muted">&copy; 2017 Apple Inc. All rights reserved. Apple, the Apple logo, Apple TV, Apple Watch, iPad, iPhone, iPod, iPod touch, iTunes, the iTunes logo, Mac, and QuickTime are trademarks of Apple Inc., registered in the U.S. and other countries. Multi-Touch is a trademark of Apple Inc. App Store is a service mark of Apple Inc., registered in the U.S. and other countries. IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license. Other product and company names mentioned herein may be trademarks of their respective companies.</p>
      </div>
    </div>
  </div>
  <!--<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>-->
</footer>