<!-- Navigation -->
<zzw-navigation></zzw-navigation>

<!-- Header -->
<header id="top" class="header">
  <div class="fullscreen-bg">
    <video muted autoplay poster='./assets/movies/milio_drz1-poster.png' class="fullscreen-bg__video">
      <source src="./assets/movies/milio_drz1.mp4" type="video/mp4">
    </video>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class='text-center' style='color: white;'>
    <span class="fa-stack fa-4x" style="margin-top: -2em;cursor: pointer;" (click)="navigate('#about')">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-down fa-stack-1x text-primary"></i>
    </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">Oddajemy w Wasze ręce narzędzie, za pomocą którego wspólnie będziemy zazieleniać Warszawę.</p>
        <p>Pobierzcie aplikację Milion Drzew i wskażcie miejsca, gdzie Waszym zdaniem drzew jest za mało i powinny pojawić się
          nowe.</p>
        <p>Wskazania wykorzystamy w naszych projektach nasadzeń. Drzewa będą sadzone wiosną i jesienią każdego roku.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="join" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Chcesz posadzić drzewo w Warszawie?</h1>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-1x text-primary number">1</i>
                            </span>
              <p>Pobierz aplikację Milion Drzew
                <a href='https://play.google.com/store/apps/details?id=umw.architects.pl.treelion' target="_blank">
                  <img style='width: 14em; height: auto;' alt='pobierz z Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pl_badge_web_generic.png'/>
                </a>
                <a href="https://itunes.apple.com/us/app/milion-drzew/id1214865895?mt=8" target="_blank">
                  <img style='width: 14em; height: auto; padding: 0px 11px;' alt='pobierz z App Store' src='https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg'/>
                </a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-1x text-primary number">2</i>
                            </span>
              <p>Wybierz się w miejsce, gdzie chcesz żeby pojawiło się drzewo i ją uruchom.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-1x text-primary number">3</i>
                            </span>
              <p>Naciśnij "Zgłoś" i kliknij na mapę, żeby złożyć wniosek.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-1x text-primary number">4</i>
                            </span>
              <p>Podaj swoje dane.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-smile-o fa-stack-1x text-primary"></i>
                            </span>
              <p><b>Jeżeli</b> miejsce, które zgłaszasz, zostało zaakceptowane, zobaczysz odpowiedni komunikat. Potwierdzenie zostanie wysłane też na Twój adres e-mail oraz telefon komórkowy.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-frown-o fa-stack-1x text-primary"></i>
                            </span>
              <p><b>Jeżeli</b> w miejscu, które zgłaszasz, drzewo nie może być posadzone, aplikacja poinformuje Cię dlaczego.
Powodów może być wiele. Planując nasadzenia musimy m.in. brać pod uwagę czynniki takie jak strefy ochronne torowisk oraz wałów przeciwpowodziowych, własność terenu, infrastruktura podziemna, latarnie, słupy, inne rosnące w pobliżu drzewa, budynki czy plany zagospodarowania przestrzennego. W takim wypadku, poszukaj innego miejsca.
</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Map -->
<section id="contact" class="map">
  <map></map>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <img src="assets/img/syrenka-zzw.png" />
        <h4>
          <strong>Zarząd Zieleni m.st. Warszawy</strong>
        </h4>
        <p>ul. Czerniakowska 71
          <br>00-715 Warszawa
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (22) 277 42 00</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kontakt@zzw.waw.pl">kontakt@zzw.waw.pl</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; R4System.NET 2017. </p>
        <p class="text-muted">&copy; Template "Stylish Portfolio" was downloaded from <a href='https://startbootstrap.com' target="_blank">startbootstrap.com</a>.</p>
        <p class="text-muted">&copy; Google Play and the Google Play logo are trademarks of Google Inc.</p>
        <p class="text-muted">&copy; 2017 Apple Inc. All rights reserved. Apple, the Apple logo, Apple TV, Apple Watch, iPad, iPhone, iPod, iPod touch, iTunes, the iTunes logo, Mac, and QuickTime are trademarks of Apple Inc., registered in the U.S. and other countries. Multi-Touch is a trademark of Apple Inc. App Store is a service mark of Apple Inc., registered in the U.S. and other countries. IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license. Other product and company names mentioned herein may be trademarks of their respective companies.</p>
      </div>
    </div>
  </div>
</footer>